<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kitovsky Taco Cloud</title>
</head>
<body>
<img th:src="@{/images/TacoCloud.jpg}"/>
<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>
<h1>Discount codes:</h1>
<ul>
    <li th:each="code: ${codes}">
        Use code <b>"<span th:text="${code.key}"></span>"</b> for
        <span th:text="${code.value}"></span>% off your order.
    </li>
</ul>
</body>
</html>